<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LAST.fm artist search</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
</head>

<body>
    <div class="container text-center my-4">
        <div class="row align-items-center justify-content-center">
            <div class="col h3">
                Search Artist API (LAST.fm) | Incedo test app
            </div>
            <div class="col">
                <form method="get" action="/search">
                    <div class="input-group mb-3 my-2">
                        <input class="form-control my-3" type="text" name="artist" id="artist" placeholder="Type the artist name" aria-describedby="button-search" required />
                        <button class="btn btn-outline-primary my-3" id="button-search" type="submit">Search</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>