<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LAST.fm artist search</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
</head>

<body>
    <div class="container text-center my-4">
        <div class="row align-items-center justify-content-center">
            <div class="col h3">
                Click to download the results of the search:
            </div>
            <div class="col my-2">
                <a href="<%=fileName%>" class="btn btn-primary my-3" download>Download file</a>
            </div>
        </div>
    </div>
</body>

</html>